.nav {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 6px 100px;
    background-color: aliceblue;
}

.nav h2 {
    font-size: 30px;
}

.link {
    /* display: flex; */
    align-items: flex-end;
    justify-content: end;
    margin-left: auto;
}

.nav a {
    color: rgb(0, 86, 156);
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
}


/* home section */

.home {
    display: flex;
    padding: 30px 100px;
    height: 77vh;
}

.home .home_left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.home .home_right {
    display: flex;
    width: 50%;
    justify-content: center;
}

/* about */


.about {
    display: flex;
    align-items: center;
    padding: 30px 100px;
    height: 77vh;
}

.about_left {
    width: 50%;
}

.about_right {
    margin-left: 50px;
    width: 50%;
}

img {
    width: 100%;
    height: 100% !important;
}

/* footer */


.footer {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill {
    height: 100vh;
    padding-top: 100px;
}

.skill-portion {
    padding: 30px 100px;
    font-size: 20px;
    width: 50%;
    margin: auto;
    box-shadow: 5px 5px 5px 5px gainsboro;
}

.skill-portion ul {
    margin: 0;
}

.about {
    height: 100vh;
}

.contact {
    height: 100vh;
    margin-top: 50px;
}

.form-section {
    height: 500px;
    width: 50%;
    margin-top: 50px;
    box-shadow: 5px 5px 5px 5px gainsboro;
    padding: 30px;
    margin: auto;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    height: 200px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}